#nav {
  padding-left: 0;
  padding-right: 1rem;
  margin: auto;
  list-style: none;
  background-color: black;
  font-size: 0.8rem;
  height: 2.5rem;
  font-family: "Permanent Marker", cursive;
}

#logo {
  height: 2.5rem;
  margin: auto;
  padding: auto;
}

#nav #links {
  margin: auto;
  padding: auto;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
}

#nav > :first-child {
  float: left;
}

#nav li a {
  text-decoration: none;
}

li {
  display: flex;
  align-items: center;
}
.item {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  cursor: pointer;
  color: white;
  transition: 0.3s;
}
.item:hover {
  color: orange;
  transition: 0.3s;
}

#nav-pic {
  height: 1.5rem;
  width: 1.5rem;
  object-fit: cover;
  border-radius: 100%;
  border: 2.5px solid #a50073;
}

#brush {
  font-size: 18px;
  padding-top: 6px;
}

@media screen and (max-width: 520px) {
  .togo {
    display: none;
  }
  #links {
    gap: 1rem;
  }
}
